.about{
    /* background-color: #22514f; */
    /* background-color: rgb(208, 245, 245); */
    padding-top: 40px;
}

.image-slide h5{
    /* color:#fff; */
}
.texts{
    color:white;
    font-size: 20px;
}
.colors{
    /* background-color: #1f2833; */
    background-color: #000016;

}